In [2]:
# Que 1

In [2]:
n=5
i=0
while i < n:
    i+=1
    print(i)

1
2
3
4
5

In [ ]:
# que 2

In [3]:
n= 10  # while loop
sum = 0
i = 1
while i <= n:
    sum += i
    i+=1
    print("Total sum=", sum)

Total sum= 1
Total sum= 3
Total sum= 6
Total sum= 10
Total sum= 15
Total sum= 21
Total sum= 28
Total sum= 36
Total sum= 45
Total sum= 55

In [4]:
# que 3

In [14]:
n= 5  # while loop
fact = 1
i = 1
while i <= n:
    fact *= i
    i+=1
    print("factorial=", fact)

factorial= 1
factorial= 2
factorial= 6
factorial= 24
factorial= 120

In [ ]:
# que 4

In [18]:
example = "Favtutor article"

vowels = ["a", "e", "i", "o", "u"]
count = 0

# using for-each loop, character is reference to a letter in the string
for i in example:
    if i in vowels:
        count += 1


print("Number of vowels : ", count)

Number of vowels :  6

In [ ]:
# que 5

In [2]:
row=1
while row<=5:
    col=1
    while col <=row:
        print("*",end="")
        col=col+1  
    print()
    row=row+1

*
**
***
****
*****

In [19]:
for i in range(5):
    for j in range(i+1):
        print("*", end ="")
    print()

*
**
***
****
*****

In [20]:
# que 6

In [24]:
rows=10 # Multiplication table up to 10 
columns=10 # Number of columns
# rows,columns=10,10  
for i in range(1,rows+1):
    for j in range(1,columns+1):# inner for loop
        c=i*j
        print("{:2d} ".format(c),end='')
    print("\n")  # line break

 1  2  3  4  5  6  7  8  9 10

 2  4  6  8 10 12 14 16 18 20

 3  6  9 12 15 18 21 24 27 30

 4  8 12 16 20 24 28 32 36 40

 5 10 15 20 25 30 35 40 45 50

 6 12 18 24 30 36 42 48 54 60

 7 14 21 28 35 42 49 56 63 70

 8 16 24 32 40 48 56 64 72 80

 9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100